.logo-name {
    display: flex;
    align-items: center;
    flex-direction: column;
 
}
.nav-name{
    display: flex;
    margin-right:50px;
}
.nav-name a {
        text-decoration: none;
        margin-left:10px;
}
.nav-name a:hover {
   color: red;
   border-bottom: 2px solid red;
}